*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35,48);
}
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#logo path:nth-child(1){
stroke-dasharray: 755px;
stroke-dashoffset: 755px;
animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 490px;
    stroke-dashoffset: 490px;  
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 534px;
    stroke-dashoffset: 534px;  
    animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(4){
    stroke-dasharray: 571px;
    stroke-dashoffset: 571px;  
    animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(5){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;  
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(6){
    stroke-dasharray: 534px;
    stroke-dashoffset: 534px;  
    animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(7){
    stroke-dasharray: 490px;
    stroke-dashoffset: 490px;  
    animation: line-anim 2s ease forwards 1.3s;
}
#logo path:nth-child(8){
    stroke-dasharray: 312px;
    stroke-dashoffset: 312px;  
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(9){
    stroke-dasharray: 512px;
    stroke-dashoffset: 512px;  
    animation: line-anim 2s ease forwards 1.7s;
}
#logo path:nth-child(10){
    stroke-dasharray: 490px;
    stroke-dashoffset: 490px; 
    animation: line-anim 2s ease forwards 1.9s; 
}
#logo path:nth-child(11){
    stroke-dasharray: 508px;
    stroke-dashoffset: 508px;  
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(12){
    stroke-dasharray: 463px;
    stroke-dashoffset: 463px;  
    animation: line-anim 2s ease forwards 2.3s;
}
#logo path:nth-child(13){
    stroke-dasharray: 754px;
    stroke-dashoffset: 754px;  
    animation: line-anim 2s ease forwards 2.5s;
}
@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
      }
}